---
import Button from '@components/Button.astro'
import { uiStrings } from '@i18n/uiStrings'
import { getLocalizedHref } from '@i18n/utilities'
import CustomImage from '@components/CustomImage.astro'
const locale = Astro.currentLocale
const { projectAllTitle, projectAllSubtitle, projectLink } = uiStrings
const allTitle = projectAllTitle[locale]
const allSubtitle = projectAllSubtitle[locale]
const allPreview = '/src/assets/protestory.webp'
const link = projectLink[locale]
---

<li>
  <h3>{allTitle}</h3>
  <CustomImage
    class='border-primary border-2 rounded-md md:w-1/2'
    imagePath={allPreview}
    altText={allTitle}
  />
  <blockquote class='md:w-2/3 m-auto'>{allSubtitle}</blockquote>
  <Button href={getLocalizedHref(locale, '/projects')}>{link}</Button>
</li>
