---
import FormattedDate from '@components/FormattedDate.astro'
import { uiStrings } from '@i18n/uiStrings'
import type { Person } from '@utilities/people'
import { getPersonPath, people } from '@utilities/people'

const locale = Astro.currentLocale
const updated = uiStrings.updated[locale]
const from = uiStrings.from[locale]
const EMPTY_STRING = ''

interface Props {
  authorFullName: string
  pubDate: Date
  updatedDate: Date
}

const { authorFullName = EMPTY_STRING, pubDate, updatedDate } = Astro.props
const person: Person = people.find((person) => person.name === authorFullName)
const hasAuthorLink: boolean = !!person
---

<p>
  <FormattedDate date={pubDate} />
  {
    updatedDate && (
      <span>
        ({updated} <FormattedDate date={updatedDate} />)
      </span>
    )
  }
  {
    authorFullName && (
      <span>
        {hasAuthorLink ? (
          <a href={getPersonPath(locale, person.id)}>
            {`${from} ${person.name}`}
          </a>
        ) : (
          `${from} ${authorFullName}`
        )}
      </span>
    )
  }
</p>
