---
import Button from "@components/Button.astro"
import Post from "@components/Post.astro"
import { uiStrings } from "@i18n/uiStrings"
import getPublishedPosts from "@utilities/getPublishedPosts"
import Caption from "./Caption.astro"
const title = `${uiStrings.blogTitle[Astro.currentLocale]}`
const subtitle = `${uiStrings.blogSubtitle[Astro.currentLocale]}`
const link = `${uiStrings.blogLink[Astro.currentLocale]}`

const collection = "blog"

const posts = await getPublishedPosts(Astro.currentLocale, collection)
const featuredPosts = posts.filter(({ data }) => data.isFeatured)
---

<div class="max-w-7xl mx-auto px-4">
  <div class="w-full mb-4">
    <Caption title={title} subtitle={subtitle}/>
  </div>
  {
    featuredPosts?.length > 0 && (
      <ul>
        {featuredPosts.map((post) => (
          <Post post={post} collection={collection}/>
        ))}
      </ul>
    )
  }
  <div class="mt-16">
    <Button href="/blog">{link}</Button>
</div>
</div>