---
import Button from '@components/Button.astro'
import Post from '@components/Post.astro'
import { uiStrings } from '@i18n/uiStrings'
import { getLocalizedHref } from '@i18n/utilities'
import getPublishedPosts from '@utilities/getPublishedPosts'
import Caption from './Caption.astro'

const BLOG_COLLECTION = 'blog'
const locale = Astro.currentLocale

const { blogTitle, blogSubtitle, blogAllLink } = uiStrings
const title = blogTitle[locale]
const subtitle = blogSubtitle[locale]
const link = blogAllLink[locale]

async function getFeaturedPosts() {
  const posts = await getPublishedPosts(locale, BLOG_COLLECTION)
  return posts.filter(({ data }) => data.isFeatured)
}
const featuredPosts = await getFeaturedPosts()
---

<section>
  <Caption title={title} subtitle={subtitle} />
  {
    featuredPosts?.length > 0 && (
      <ul>
        {featuredPosts.map((post) => (
          <Post isFeature={true} post={post} collection={BLOG_COLLECTION} />
        ))}
      </ul>
    )
  }
  <div class='text-center'>
    <Button href={getLocalizedHref(locale, '/blog')}>{link}</Button>
  </div>
</section>
