---
import { ViewTransitions } from 'astro:transitions'
import { siteKeywords, siteThemeColor, siteTitle } from '@src/consts'
import type { CommonFrontmatter } from '@src/types'

import '../styles/global.css'

interface Props {
  frontmatter: CommonFrontmatter
  includeCanonicalMeta?: boolean
}

const { frontmatter, includeCanonicalMeta = true } = Astro.props
const title = frontmatter.title
  ? `${frontmatter.title} | ${siteTitle}`
  : siteTitle
const description = frontmatter.description
const previewImage = frontmatter.previewImage || '/image.png'
const canonicalURL = new URL(
  frontmatter.canonicalURL || Astro.url.pathname,
  Astro.site
)
const faviconIco = '/favicon.ico'
const faviconSVG = '/favicon.svg'
const appleTouchIcon = '/apple-touch-icon.png'
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />

<link rel='icon' href={faviconIco} sizes='32x32' />
<link rel='icon' href={faviconSVG} type='image/svg+xml' />
<link rel='apple-touch-icon' href={appleTouchIcon} />
<link rel='manifest' href='/manifest.webmanifest' />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />
<meta name='copyright' content={siteTitle} />
<meta name='keywords' content={siteKeywords} />

<!-- Canonical URL and translations-->
{includeCanonicalMeta && <link rel='canonical' href={canonicalURL} />}
<slot />

<link rel='sitemap' href='/sitemap-index.xml' />

<!-- Theme color -->
<meta name='theme-color' content={siteThemeColor} />
<meta name='msapplication-navbutton-color' content={siteThemeColor} />
<meta name='apple-mobile-web-app-status-bar-style' content={siteThemeColor} />

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
{description && <meta property='og:description' content={description} />}
<meta property='og:image' content={new URL(previewImage, Astro.url)} />

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
{description && <meta property='twitter:description' content={description} />}
<meta property='twitter:image' content={new URL(previewImage, Astro.url)} />

<ViewTransitions />
