---
import { uiStrings } from '@i18n/uiStrings'
import { siteMail } from '@src/consts'
import Button from '@components/Button.astro'
const title = uiStrings.title[Astro.currentLocale]
const subtitle = uiStrings.subtitle[Astro.currentLocale]
const description = uiStrings.description[Astro.currentLocale]
const primaryAction = uiStrings.primaryAction[Astro.currentLocale]
---

<section class='text-center'>
  <h1>{title} <span>{subtitle}</span></h1>
  <p>{description}</p>
  <Button href={siteMail}>
    {primaryAction}
  </Button>
</section>
