---
import { type Person, getPersonPath } from '@utilities/people'
import CustomImage from '@components/CustomImage.astro'
import Post from '@components/Post.astro'
import { getPostsByAuthor } from '@src/utilities/people'
import { uiStrings } from '@i18n/uiStrings'
interface Props {
  person: Person
  showPosts?: boolean
}
const { person, showPosts = false } = Astro.props
const locale = Astro.currentLocale
const BLOG_COLLECTION = 'blog'
const postsPerAuthorTitle = uiStrings.postsPerAuthorTitle[locale]

const filteredPosts = await getPostsByAuthor(
  BLOG_COLLECTION,
  person.id,
  Astro.currentLocale
)
---

<article class='px-4'>
  <div class='prose dark:prose-invert m-auto'>
    <div class='flex items-center gap-6'>
      <a class='min-w-40' href={getPersonPath(locale, person.id)}>
        <CustomImage
          imagePath={person.image}
          altText={person.name}
          class='rounded-full'
        />
      </a>
      <div>
        <h2 class='text-primary dark:text-white'>{person.name}</h2>
        <p class='text-lg text-secondary dark:text-primary'>
          {person.description[locale]}
        </p>
      </div>
    </div>
    <div>
      <p>{person.content[locale]}</p>
    </div>
  </div>
  {
    showPosts && (
    <h2 class='mb-4'>{`${postsPerAuthorTitle} ${person.name}`}</h2>
      <ul>
        {filteredPosts.map((post) => (
          <Post isFeature post={post} collection={BLOG_COLLECTION} />
        ))}
      </ul>
    )
  }
</article>
