---
import { getPersonPath, type Person } from '@utilities/people'
import CustomImage from './CustomImage.astro'
interface Props {
  person: Person
}
const { person } = Astro.props
---

<div>
  <div class="about">
    <a href={getPersonPath(Astro.currentLocale, person.id)}>
      <CustomImage
        imagePath={person.image}
        altText={person.name}
        class="rounded"
      />
    </a>
    <div>
      <p class="text-xl text-primary">{person.name}</p>
      <p class="text-secondary">{person.description[Astro.currentLocale]}</p>
    </div>
  </div>
  <div>
    <p>{person.content[Astro.currentLocale]}</p>
  </div>
</div>
