---
import Button from '@components/Button.astro'
import CustomImage from '@components/CustomImage.astro'
import FormattedDate from '@components/FormattedDate.astro'
import { uiStrings } from '@i18n/uiStrings'
import { getPostDescription } from '@utilities/getPageDescription'
import { getRelativePostPath } from '@utilities/getPostPath'

const { collection, post } = Astro.props
const locale = Astro.currentLocale

const blogLink = uiStrings.blogLink[locale]
---

<li>
  <a
    href={`${getRelativePostPath(locale, collection, post.slug)}`}
  >
    <h3>{post.data.title}</h3>
    <p class='date'>
      <FormattedDate date={post.data.pubDate} />
    </p>
    <CustomImage imagePath={post.data.previewImage} altText={post.data.title} />
  </a>
  <blockquote
    cite={`${getRelativePostPath(locale, collection, post.slug)}`}
  >
    {getPostDescription(post)}
  </blockquote>
  <div class='text-center'>
    <Button
      href={`${getRelativePostPath(locale, collection, post.slug)}`}
      >{blogLink}</Button
    >
  </div>
</li>
