---
import Button from '@components/Button.astro'
import Byline from '@components/Byline.astro'
import CustomImage from '@components/CustomImage.astro'
import Divider from '@components/Divider.astro'
import PostTags from '@components/PostTags.astro'
import { uiStrings } from '@i18n/uiStrings'
import { getPostDescription } from '@utilities/getPageDescription'
import { getRelativePostPath } from '@utilities/getPostPath'

interface Props {
  collection: string
  isLast?: boolean
  post: any
  isFeature?: boolean
}

const { collection, isLast, post, isFeature = false } = Astro.props
const { title, author, pubDate, updatedDate, previewImage, tags } = post.data
const locale = Astro.currentLocale

const blogLink = uiStrings.blogLink[locale]
const realTags = tags.filter((tag: string) => tag !== 'other')
const postPath = getRelativePostPath(locale, collection, post.slug)
const description = getPostDescription(post)
---

<li>
  <article>
    <header>
      <a href={postPath}>
        <h3>{title}</h3>
      </a>
      <Byline
        authorFullName={author}
        pubDate={pubDate}
        updatedDate={updatedDate}
      />
    </header>
    <a href={postPath}>
      <CustomImage imagePath={previewImage} altText={title} />
    </a>
  </article>
  <blockquote cite={postPath}>
    {description}
  </blockquote>
  <div class='text-center'>
    <Button href={postPath}>{blogLink}</Button>
  </div>
  {!isFeature && realTags.length > 0 && <PostTags tags={realTags} />}
  {!isFeature && !isLast && <Divider />}
</li>
