---
import FormattedDate from '@components/FormattedDate.astro'
import { getPostDescription } from '@utilities/getPageDescription'
import { getRelativePostPath } from '@utilities/getPostPath'
import CustomImage from '@components/CustomImage.astro'

const { collection, post } = Astro.props
---

<li>
  <a
    href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}
  >
    <h3 class='title'>{post.data.title}</h3>
    <p class='date'>
      <FormattedDate date={post.data.pubDate} />
    </p>
    <CustomImage imagePath={post.data.previewImage} altText={post.data.title} />
  </a>
  <blockquote
    cite={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}
  >
    {getPostDescription(post)}
  </blockquote>
</li>
