---
import { Image } from "astro:assets"
import geomazing from "../../public/assets/geomazing.webp"
import glamorous from "../../public/assets/glamorous.webp"
import plantala from "../../public/assets/plantala.webp"
import protestory from "../../public/assets/protestory.webp"
import Caption from "./Caption.astro"

const { config: projects } = Astro.props
const { title, description } = projects
const [firstItem, secondItem, thirdItem, fourthItem, fifthItem] = projects.items
---

  <div class="container max-w-7xl px-4 mx-auto">
    <div class="flex flex-wrap w-full md:mb-8">
      <div class="w-full mb-4 lg:mb-0">
        <Caption title={title}/>
      </div>
    </div>
    <div class={'flex flex-wrap'}>
      <div class={'w-5/6 sm:w-1/2 p-8 lg:mt-16'}>
        <h2 class={'text-3xl text-black font-bold leading-none mb-4'}>{firstItem?.title}</h2>
        <p class={'text-black font-medium mb-4'}>{firstItem?.description}</p>
        <a class={'text-tertiary font-bold hover:text-primary'} href={firstItem?.href} target="_blank" rel="noreferrer">{`${description} ${firstItem?.title}`}</a>
      </div>
      <div class={'w-full sm:w-1/2 p-8 self-center'}>
        <Image src={geomazing} alt={thirdItem?.title} />
      </div>
    </div>
    <div class={'flex flex-wrap flex-col-reverse sm:flex-row'}>
      <div class={'w-full sm:w-1/2 p-8 self-center'}>
        <Image src={glamorous} alt={secondItem?.title} />
      </div>
      <div class={'w-full sm:w-1/2 p-8 lg:mt-16'}>
        <div class={'align-middle'}>
          <h2 class={'text-3xl text-black font-bold leading-none mb-4'}>{secondItem?.title}</h2>
          <p class={'text-black font-medium mb-4'}>{secondItem?.description}</p>
          <a class={'text-tertiary font-bold hover:text-primary'} href={secondItem?.href} target="_blank" rel="noreferrer">{`${description} ${secondItem?.title}`}</a>
        </div>
      </div>
    </div>
    <div class={'flex flex-wrap'}>
      <div class={'w-5/6 sm:w-1/2 p-8 lg:mt-16'}>
        <h2 class={'text-3xl text-black font-bold leading-none mb-4'}>{thirdItem?.title}</h2>
        <p class={'text-black font-medium mb-4'}>{thirdItem?.description}</p>
        <a class={'text-tertiary font-bold hover:text-primary'} href={thirdItem?.href} target="_blank" rel="noreferrer">{`${description} ${thirdItem?.title}`}</a>
      </div>
      <div class={'w-full sm:w-1/2 p-8 self-center'}>
        <Image src={plantala} alt={thirdItem?.title} />
      </div>
    </div>
    <div class={'flex flex-wrap flex-col-reverse sm:flex-row'}>
      <div class={'w-full sm:w-1/2 p-8 self-center'}>
        <Image src={protestory} alt={fourthItem?.title} />
      </div>
      <div class={'w-full sm:w-1/2 p-8 lg:mt-16'}>
        <div class={'align-middle'}>
          <h2 class={'text-3xl text-black font-bold leading-none mb-4'}>{fourthItem?.title}</h2>
          <p class={'text-black font-medium mb-4'}>{fourthItem?.description}</p>
          <a class={'text-tertiary font-bold hover:text-primary'} href={fourthItem?.href} target="_blank" rel="noreferrer">{`${description} ${fourthItem?.title}`}</a>
        </div>
      </div>
    </div>
  </div>
