---
import Button from '@components/Button.astro'
import { getPostDescription } from '@utilities/getPageDescription'
import { getRelativePostPath } from '@utilities/getPostPath'
import CustomImage from '@components/CustomImage.astro'

const { collection, post } = Astro.props
---

<li>
  <a
    href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}
  >
    <h3>{post.data.title}</h3>
    <CustomImage imagePath={post.data.previewImage} altText={post.data.title} />
  </a>
  <blockquote
    cite={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}
  >
    {getPostDescription(post)}
  </blockquote>
  <Button
    href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}
    >{post.data.title}</Button
  >
</li>
