---
import { uiStrings } from '@i18n/uiStrings'
import { referencesData } from '@src/references'
import Caption from './Caption.astro'
const title = uiStrings.referencesTitle[Astro.currentLocale]
const subtitle = uiStrings.referencesSubtitle[Astro.currentLocale]
---

<section class='mx-0'>
  <Caption class='mx-4' title={title} subtitle={subtitle} />
  {
    referencesData.map((item) => (
      <p class='text-lg border-2 mx-auto md:mx-0 border-secondary md:odd:place-self-start md:even:place-self-end overflow-hidden w-96 h-96 px-1 pt-4 rounded-full hyphens-auto [text-align-last:center]'>
        <span aria-hidden='true' />
        {item.description[Astro.currentLocale]}
        <span class='block mt-4'>{item.author[Astro.currentLocale]}</span>
        <span class='block'>{item.role[Astro.currentLocale]}</span>
      </p>
    ))
  }
</section>

<style>
  [aria-hidden='true'] {
    display: contents;
  }

  [aria-hidden='true']:before,
  [aria-hidden='true']:after {
    content: '';
    float: left;
    width: 50%;
    height: 100%;
    --bite: radial-gradient(
      farthest-side at var(--pos-x, 100%),
      transparent 99%,
      black
    );
    shape-outside: var(--bite);
  }

  [aria-hidden='true']:after {
    float: right;
    --pos-x: 0;
  }
</style>
