---
import { uiStrings } from '@i18n/uiStrings'
import { referencesData } from '@src/references'
import Caption from './Caption.astro'

const locale = Astro.currentLocale
const { referencesTitle, referencesSubtitle } = uiStrings
const title = referencesTitle[locale]
const subtitle = referencesSubtitle[locale]
---

<section>
  <Caption title={title} subtitle={subtitle} />
  <div class='flex flex-wrap gap-8'>
    {
      referencesData.map((item) => (
        <p class='text-lg border-2 mx-auto border-secondary overflow-hidden w-96 h-96 px-1 pt-4 rounded-full hyphens-auto [text-align-last:center]'>
          <span aria-hidden='true' />
          {item.description[locale]}
          <span class='block pt-4'>{item.author[locale]}</span>
          <span class='block'>{item.role[locale]}</span>
        </p>
      ))
    }
  </div>
</section>

<style>
  [aria-hidden='true'] {
    display: contents;
  }

  [aria-hidden='true']:before,
  [aria-hidden='true']:after {
    content: '';
    float: left;
    width: 50%;
    height: 100%;
    --bite: radial-gradient(
      farthest-side at var(--pos-x, 100%),
      transparent 99%,
      black
    );
    shape-outside: var(--bite);
  }

  [aria-hidden='true']:after {
    float: right;
    --pos-x: 0;
  }
</style>
