---
import Caption from './Caption.astro';
const { config: services } = Astro.props;
const { title, items: featuresList } = services;
---
  
<section id="services">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-wrap w-full md:mb-8">
      <div class="w-full mb-4 lg:mb-0">
        <Caption title={title}/>
      </div>
    </div>
    <div class="mt-8">
      <dl class="space-y-8 md:space-y-0 md:grid md:grid-cols-2 md:gap-8">
        {featuresList.map((feature) => (
          <div key={feature.name} class="relative">
            <dt>
              <div
                class={
                  'absolute flex items-center justify-center h-16 w-16'
                }
              >
                <img class={'inline-block h-16 w-16'} src={feature.icon} alt={feature.name} />
              </div>
              <p class="ml-20 text-lg leading-8 font-bold text-black">{feature.name}</p>
            </dt>
            <dd class="mt-4 ml-20 text-base font-medium text-black">{feature.description}</dd>
          </div>
        ))}
      </dl>
    </div>
  </div>
</section>
