---
import Button from '@components/Button.astro'
import { shop, getFocusPath } from '@src/utilities/shop'
import { uiStrings } from '@i18n/uiStrings'
import { getLocalizedHref } from '@i18n/utilities'
import Caption from '@components/Caption.astro'
import CustomImage from '@components/CustomImage.astro'
const locale = Astro.currentLocale
const title = uiStrings.shopTitle[Astro.currentLocale]
const subtitle = uiStrings.shopSubtitle[Astro.currentLocale]
const linkText = uiStrings.shopLinkText[Astro.currentLocale]
const link = uiStrings.shopLink[Astro.currentLocale]
---

<section>
  <Caption title={title} subtitle={subtitle} />
  <ul class='flex flex-wrap justify-between items-start gap-8'>
    {
      shop.map((items) => (
        <li class='md:w-1/4'>
          <a href={getFocusPath(Astro.currentLocale, items.id)}>
            <CustomImage
              class='border-tertiary dark:border-primary border-8 rounded-md'
              imagePath={items.image}
              altText={items.name}
            />
            <h3>{items.name}</h3>
            <p>{items.project[Astro.currentLocale]}</p>
          </a>
          <div>
            <p>{items.description[Astro.currentLocale]}</p>
            <p>{items.price[Astro.currentLocale]}</p>
          </div>
        </li>
      ))
    }
  </ul>
  <div class='text-center'>
    <blockquote class='mb-4'>{linkText}</blockquote>
    <Button href={getLocalizedHref(locale, '/shop')}>{link}</Button>
  </div>
</section>
