---
import { pwaInfo } from 'virtual:pwa-info';

const { config } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name ="title" content ={config.company.description}/>
<meta name ="description" content ="Digitalwarenkombinat | Digitalagentur für Museen, Archive, Bibliotheken und Galerien. Webdesign, Entwicklung und Beratung für digitalisierte Sammlungen."/>
<meta name ="copyright" content ="Digitalwarenkombinat"/>
<meta name ="keywords" content ="Digitalagentur, Leipzig, Open Source, Kulturinstitutionen, Internet-Agentur, Webdesign, Entwicklung, Beratung, DIWAKO"/>
<meta property ="og:type" content ="website"/>
<meta property ="og:url" content ="https://digitalwarenkombinat.de/"/>
<meta property ="og:title" content ="Digitalwarenkombinat"/>
<meta property ="og:description" content ={config.company.description}/>
<meta property ="og:image" content ="https://digitalwarenkombinat.de/image.png"/>
<meta property ="twitter:card" content ="summary_large_image"/>
<meta property ="twitter:url" content ="https://digitalwarenkombinat.de/"/>
<meta property ="twitter:title" content ="Digitalwarenkombinat"/>
<meta property ="twitter:description" content ={config.company.description}/>
<meta property ="twitter:image" content ="https://digitalwarenkombinat.de/image.png"/>

<title>{config.company.description}</title>

<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/pwa-192x192.png">
<link rel="mask-icon" href="/favicon.svg" color="#dd8d0e">
<meta name="msapplication-TileColor" content="#dd8d0e">
<meta name="theme-color" content="#dd8d0e">

  <script src="/src/pwa.ts"></script>
  { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }