---
import type { CollectionEntry } from 'astro:content'
import { getEntries } from 'astro:content'
import Byline from '@components/Byline.astro'
import MainI18n from '@components/MainI18n.astro'
import PostTags from '@components/PostTags.astro'
import CustomImage from '@components/CustomImage.astro'

type Props = CollectionEntry<'blog'>['data']

const frontmatter = Astro.props
const {
  title,
  pubDate,
  updatedDate,
  previewImage,
  tags,
  author,
  relatedPosts,
} = Astro.props
const realTags: string[] = tags.filter((tag) => {
  return tag !== 'other'
})

const relatedPostEntries = await getEntries(relatedPosts)
---

<MainI18n {frontmatter} collection='blog'>
  <main id='main' tabindex='”1”'>
    <article>
      {previewImage && <CustomImage imagePath={previewImage} altText={title} />}
      <h1>{title}</h1>
      <Byline authorFullName={author} {pubDate} {updatedDate} />
      <div>
        <slot />
      </div>
      {relatedPostEntries.map((p) => <a href={p.slug}>{p.data.title}</a>)}
      {realTags.length > 0 && <PostTags tags={realTags} />}
    </article>
  </main>
</MainI18n>
