---
import Page from '@layouts/Page.astro'
import type { CommonFrontmatter } from '@src/types'
import type { ShopItem } from '@src/utilities/shop'
import CustomImage from '@components/CustomImage.astro'
export interface ShopItemFrontmatter extends CommonFrontmatter {
  shopItem: ShopItem
}
interface Props {
  frontmatter: ShopItemFrontmatter
}
const { frontmatter } = Astro.props
const locale = Astro.currentLocale
const shopItem = frontmatter.shopItem
---

<Page {frontmatter}>
  <article>
    <CustomImage
      class='border-tertiary dark:border-primary border-8 rounded-md'
      imagePath={shopItem.image}
      altText={shopItem.name}
    />
    <header>
      <h1>{shopItem.name}</h1>
      <p>{shopItem.project[locale]}</p>
    </header>
    <div>
      <p>{shopItem.description[locale]}</p>
      <p>{shopItem.price[locale]}</p>
    </div>
  </article>
</Page>
