---
import type { CommonFrontmatter } from '@src/types'
import Page from '@layouts/Page.astro'
import { getTagPath } from '@utilities/tags'
import { getUniqueTags } from '@utilities/tags'

interface Frontmatter extends CommonFrontmatter {
  collection: 'blog' | 'projects'
}

interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props
const locale = Astro.currentLocale
const tags = (
  await getUniqueTags(frontmatter.collection, Astro.currentLocale)
).filter((tag) => {
  return tag.slugified !== 'other'
})
---

<Page {frontmatter}>
  <article>
    <slot />
    {frontmatter.title && <h1>{frontmatter.title}</h1>}
    {frontmatter.description && <h2>{frontmatter.description}</h2>}
    <ul>
      {
        tags.map(({ slugified, name }) => {
          const tagPath = getTagPath(locale, slugified)
          return (
            <li>
              <a
                class='w-auto mx-auto text-tertiary dark:text-white tracking-wider border-2 rounded-md p-1 inline-block border-primary'
                href={tagPath}
              >
                <strong>{`#${name}`}</strong>
              </a>
            </li>
          )
        })
      }
    </ul>
  </article>
</Page>
